* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  /* Header */
  .header {
    padding: 30px;
    text-align: center;
    background: #34a790;
    color: white;
    border-radius: 20px 20px 0px 0px;
  }
  
  .header h1 {
    font-size: 50px;
  }

  .logo{
    width: 13%;
  }
  
  /* Barra de navegação */
  .topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 0px 0px 20px 20px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Coluna esquerda */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Coluna direita */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }

  
  /* Card de artigos */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  

  /* Responsividade */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }