.popularPostUl {
	list-style-type: none;
}

.popularPostH3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.popularPostImg {
	float: left;
	margin: 0 15px 0 0;
	width: 30%;
}

.PopularPostp {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.popularPostLi {
	padding: 10px;
	overflow: auto;
}

li:hover {
	background: #eee;
	cursor: pointer;
}